* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 9.6rem; */
  height: 100vh;
  background-color: #d6e2f0;
}

.card-container {
  width: 32rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  box-shadow: 0 0 30px 0 rgba(31, 49, 79, 0.4);
}

img {
  width: 100%;
  padding: 1.6rem;
  border-radius: 2.4rem;
}

.card-text {
  text-align: center;
  padding: 1.6rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 800;
  color: #1f314f;
  padding: 0 1.6rem;
  margin-bottom: 1.6rem;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  padding: 0 1.6rem;
  color: #68778d;
}
